@font-face {
  font-family: alata;
  src: url(https://fonts.google.com/share?selection.family=Alata);
}

.altusHeader {
  display: flex;
  /* position: fixed; */
  width: 100%;
  height: 13%;
  background-color: #FF3366;
  color: white;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-family: alata;
}

.altusFooter {
  display: flex;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  height: 10%;
  background-color: #FF3366;
  color: white;
  align-items: center;
  justify-content: center;
  font-family: alata;
} 

.chatbox {
  justify-content: center;
  align-content: center;
  margin-top: 10px;
  max-width: 60%;
  padding: 10px 20px 10px 20px;

  background-color: #DADADA;
  border-radius: 10px;
}

.history {
  width: 20%;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.history_message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  font-size: 11px;
  color: black;
  font-family: alata;
  background-color: #DADADA;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 90%;
  cursor: pointer;
}



.chat {
  width: 100%;
  height: 88%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  overflow-y: auto;

  font-family: alata;
  font-weight: 300;
  font-size: 0.9em;
}

.chatbox.right {
  align-self: flex-end;
  background-color: #538AF4;
  color: white;
}

.textfield {
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: white;
  border-color: white;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

body {
  margin: 0;
  /* display: inline; */
  background-color: #042239;
  height: 100%;
  width: 100%;
}

#root {
  margin: 0;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;*/
  height: 100%;
  width: 100%; 
}

html{
  height: 100%;
  width: 100%;
}